/env
/data
/output
/__pycache__

/vLLM/.env
/vLLM/.bak
/vLLM/data
/vLLM/hf_cache
/vLLM/__pycache__
/vLLM/*.pt
/vLLM/output

/RAG/env
/RAG/chromadb

/llama_cpp/models
/llama_cpp/perplexity

/live-vlm-webui

/llm_lab/anythingllm
/llm_lab/open-webui
/llm_lab/ollama
/llm_lab/pytorch
